## Read in csv file

In [113]:
import pandas as pd
import numpy as np
df = pd.read_csv('sp500_historical.csv', header=0)

## Calculate MA5
average of last 5 closing prices

In [114]:
for index, row in df.iterrows():
    if(index > 4):
        ma5 = 0
        for i in range(1, 6):
            ma5+=df.loc[index-i, 'Close']
        df.loc[index, 'MA5'] = ma5/5

## Calculate BIAS6

In [115]:
for index, row in df.iterrows():
    if(index > 5):
        ma6 = 0
        close = df.loc[index, 'Close']
        for i in range(1, 7):
            ma6+=df.loc[index-i, 'Close']
        ma6/=6
        df.loc[index, 'BIAS6'] = close*((close-ma6)/ma6)*100

## Calculate OBV
https://www.investopedia.com/terms/o/onbalancevolume.asp

In [116]:
df.loc[0, 'OBV'] = 0;
for index, row in df.iterrows():
    if(index > 0):
        if(df.loc[index, 'Close'] > df.loc[index-1, 'Close']):
            df.loc[index, 'OBV'] = df.loc[index-1, 'OBV']+df.loc[index, 'Volume']
        else:
            df.loc[index, 'OBV'] = df.loc[index-1, 'OBV']-df.loc[index, 'Volume']

## Calculate PSY12

In [117]:
for index, row in df.iterrows():
    if(index > 11):
        daysUp = 0
        for i in range(1, 12):
            if(df.loc[index-i, 'Close'] > df.loc[index-i-1, 'Close']):
                daysUp += 1
        df.loc[index, 'PSY12'] = (daysUp/12)*100

## Calculate SY

In [118]:
for index, row in df.iterrows():
    if(index > 0):
        df.loc[index, 'SY'] = (np.log(df.loc[index, 'Close']) - np.log(df.loc[index-1, 'Close']))*100

## Calculate ASY(5)

In [119]:
for index, row in df.iterrows():
    if(index > 5):
        sy = 0
        for i in range(1, 6):
            sy += df.loc[index-i, 'SY']
        sy /= 5
        df.loc[index, 'ASY(5)'] = sy

## Calculate ASY(4)

In [120]:
for index, row in df.iterrows():
    if(index > 4):
        sy = 0
        for i in range(1, 5):
            sy += df.loc[index-i, 'SY']
        sy /= 4
        df.loc[index, 'ASY(4)'] = sy

## Calculate ASY(3)

In [121]:
for index, row in df.iterrows():
    if(index > 3):
        sy = 0
        for i in range(1, 4):
            sy += df.loc[index-i, 'SY']
        sy /= 3
        df.loc[index, 'ASY(3)'] = sy

## Calculate ASY(2)

In [122]:
for index, row in df.iterrows():
    if(index > 2):
        sy = 0
        for i in range(1, 3):
            sy += df.loc[index-i, 'SY']
        sy /= 2
        df.loc[index, 'ASY(2)'] = sy

## Calculate ASY(1)

In [123]:
for index, row in df.iterrows():
    if(index > 1):
        df.loc[index, 'ASY(1)'] = df.loc[index-1, 'SY']

## Calculate CI(3)

In [124]:
for index, row in df.iterrows():
    if(index > 2):
        df.loc[index, 'CI(3)'] = df.loc[index-3, 'Close']

## Calculate CI(2)

In [125]:
for index, row in df.iterrows():
    if(index > 1):
        df.loc[index, 'CI(2)'] = df.loc[index-2, 'Close']

## Calculate CI(1)

In [126]:
for index, row in df.iterrows():
    if(index > 0):
        df.loc[index, 'CI(1)'] = df.loc[index-1, 'Close']

In [127]:
df.head(20)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,MA5,BIAS6,...,PSY12,SY,ASY(5),ASY(4),ASY(3),ASY(2),ASY(1),CI(3),CI(2),CI(1)
0,1927-12-30,17.660000,17.660000,17.660000,17.660000,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1928-01-03,17.760000,17.760000,17.760000,17.760000,0,0,0,NaN,NaN,...,NaN,0.564656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.660000
2,1928-01-04,17.719999,17.719999,17.719999,17.719999,0,0,0,NaN,NaN,...,NaN,-0.225484,NaN,NaN,NaN,NaN,0.564656,NaN,17.660000,17.760000
3,1928-01-05,17.549999,17.549999,17.549999,17.549999,0,0,0,NaN,NaN,...,NaN,-0.964000,NaN,NaN,NaN,0.169586,-0.225484,17.660000,17.760000,17.719999
4,1928-01-06,17.660000,17.660000,17.660000,17.660000,0,0,0,NaN,NaN,...,NaN,0.624828,NaN,NaN,-0.208276,-0.594742,-0.964000,17.760000,17.719999,17.549999
5,1928-01-09,17.500000,17.500000,17.500000,17.500000,0,0,0,17.670000,NaN,...,NaN,-0.910131,NaN,0.000000,-0.188219,-0.169586,0.624828,17.719999,17.549999,17.660000
6,1928-01-10,17.370001,17.370001,17.370001,17.370001,0,0,0,17.638000,-26.748217,...,NaN,-0.745625,-0.182026,-0.368697,-0.416434,-0.142651,-0.910131,17.549999,17.660000,17.500000
7,1928-01-11,17.350000,17.350000,17.350000,17.350000,0,0,0,17.560000,-23.996733,...,NaN,-0.115210,-0.444082,-0.498732,-0.343643,-0.827878,-0.745625,17.660000,17.500000,17.370001
8,1928-01-12,17.469999,17.469999,17.469999,17.469999,0,0,0,17.486000,-5.482801,...,NaN,0.689256,-0.422028,-0.286534,-0.590322,-0.430418,-0.115210,17.500000,17.370001,17.350000
9,1928-01-13,17.580000,17.580000,17.580000,17.580000,0,0,0,17.470000,9.720113,...,NaN,0.627680,-0.091376,-0.270428,-0.057193,0.287023,0.689256,17.370001,17.350000,17.469999
10,1928-01-16,17.290001,17.290001,17.290001,17.290001,0,0,0,17.454000,-19.608321,...,NaN,-1.663354,-0.090806,0.114025,0.400575,0.658468,0.627680,17.350000,17.469999,17.580000
11,1928-01-17,17.299999,17.299999,17.299999,17.299999,0,0,0,17.412000,-12.574696,...,NaN,0.057810,-0.241451,-0.115407,-0.115473,-0.517837,-1.663354,17.469999,17.580000,17.290001
12,1928-01-18,17.260000,17.260000,17.260000,17.260000,0,0,0,17.398000,-13.231111,...,41.666667,-0.231476,-0.080763,-0.072152,-0.325954,-0.802772,0.057810,17.580000,17.290001,17.299999
13,1928-01-19,17.379999,17.379999,17.379999,17.379999,0,0,0,17.380000,0.500060,...,33.333333,0.692837,-0.104017,-0.302335,-0.612340,-0.086833,-0.231476,17.290001,17.299999,17.260000
14,1928-01-20,17.480000,17.480000,17.480000,17.480000,0,0,0,17.362000,10.057512,...,41.666667,0.573727,-0.103300,-0.286045,0.173057,0.230681,0.692837,17.299999,17.260000,17.379999
15,1928-01-23,17.639999,17.639999,17.639999,17.639999,0,0,0,17.342000,26.217233,...,50.000000,0.911167,-0.114091,0.273225,0.345030,0.633282,0.573727,17.260000,17.379999,17.480000
16,1928-01-24,17.709999,17.709999,17.709999,17.709999,0,0,0,17.412000,32.415935,...,50.000000,0.396038,0.400813,0.486564,0.725911,0.742447,0.911167,17.379999,17.480000,17.639999
17,1928-01-25,17.520000,17.520000,17.520000,17.520000,0,0,0,17.493999,5.852923,...,58.333333,-1.078629,0.468459,0.643443,0.626978,0.653603,0.396038,17.480000,17.639999,17.709999
18,1928-01-26,17.629999,17.629999,17.629999,17.629999,0,0,0,17.546000,13.265691,...,58.333333,0.625884,0.299028,0.200576,0.076192,-0.341295,-1.078629,17.639999,17.709999,17.520000
19,1928-01-27,17.690001,17.690001,17.690001,17.690001,0,0,0,17.596000,13.096350,...,66.666667,0.339759,0.285638,0.213615,-0.018902,-0.226373,0.625884,17.709999,17.520000,17.629999

## Write to new file

In [128]:
df.to_csv('sp500.csv')